<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-lg p-3">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <h2 class="d-none fw-bold text-danger">☺</h2>
        <span class="d-none fw-bold text-danger">E</span>
        <span class="d-none fw-bold text-dark">xpress </span>
        <span class="d-none fw-bold text-danger">E</span>
        <span class="d-none fw-bold text-dark">ats</span>
      </a>      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/login">S'identifier</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/dashboard" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Saveur Code
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/profile">Profil</a></li>
              <li><a class="dropdown-item" routerLink="/orders">Commandes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Fin de session</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link position-relative" routerLink="/cart-page" tabindex="-1" aria-disabled="true">Cart
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{cartQuantity}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
